
body {
    background-color: #9054F0;
    color: bisque;
    padding-top: 56px;
    /* Altura da barra de navegação */
    
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.titulo {
    font-family: "Style Script", cursive;
    font-size: 60px;
    color: rgb(204, 167, 173);
    text-align: center;
    letter-spacing: 2px;
    /* Ajuste o valor conforme necessário */


}
/* ANIMAÇÕES */

/* Adicione uma classe para controlar a animação de abertura do menu */
.itens {
    display: none;
    /* Esconda o menu por padrão */

}



.itens.aberto {
    display: block;
    /* Exiba o menu quando a classe aberto é adicionada */
    animation: slideIn 0.5s ease forwards;
}

/* Defina a animação de slideIn */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}






.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: -30px;
}

.menu a {
    display: flex;
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #fff;
    margin-left: -20px;
    animation: slideIn 0.5s ease forwards;
}



.menu a:hover {
    border-color: rgb(232, 191, 197);
}

/* Defina a animação de slideIn */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .itens {

        display: flex;
        padding: 1rem 2rem;
        border-radius: 10px;
        color: #000000;
        /* ajustou */
        margin-left: -30px;
        margin-right: -50px;
        font-size: 10px;
        justify-content: center;
        animation: slideIn 0.5s ease forwards;

    }
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}
.introduce {
    background: #fff;
    padding: 40px;
    text-align: right;
    position: relative;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-items: end;
}

.introduce h1 {
    font-size: 2rem;
}

.introduce::before {
    content: '';
    width: 60px;
    height: 4px;
    background-color: rgb(232, 191, 197);
    position: absolute;
    top: 30px;
    right: -30px;
}

.introduce-cover img {
    object-fit: cover;
    height: 100%;
}

.botao {
    background-color: rgb(232, 191, 197);
    color: rgb(172, 117, 117);
    padding: 1rem 2rem;
    border-radius: 4px;
    text-transform: uppercase;
}

.botao:hover {
    background-color: rgb(172, 117, 117);
    color: white;
}

.subtitulo {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    text-align: right;
    padding: 40px;
    align-self: center;
}
@media (max-width: 1000px) {
    .conteudo-vantagem {
        grid-template-columns: 1fr;
    }

    .subtitulo {
        text-align: center;
    }
}

@media (max-width: 600px) {
    body {
        gap: 30px;
        margin-top: 20px;
    }

    .header {
        gap: 30px;
    }

    .conteudo {
        grid-template-columns: 1fr;
    }

    .introducao {
        text-align: left;
        justify-items: start;
    }

    .introducao::before {
        display: none;
    }

    .subtitulo {
        font-size: 3rem;
    }
}

@media (max-width: 400px) {
    .subtitulo {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}



img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;

}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.material-symbols-outlined {
    gap: 30px;
    background-color: rgb(232, 191, 197);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    /* Tamanho padrão do ícone */
    border-radius: 10px;

}

.material-symbols-outlined:hover {
    background-color: white;
    color: rgb(232, 191, 197);
}


.Div_escolha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.container_palavras {
    background-color: #f0f0f0ca;
    border-radius: 10px;
    color: #9054F0;
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 300px;
}

.button-cadastro {
    background-color: rgba(144, 84, 240, 1);
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container_palavras {
        width: calc(50% - 40px);
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 20px;
    }

    .container_palavras {
        width: calc(100% - 40px);
    }
}
@media (max-width: 1000px) {
    .conteudo-vantagem {
        grid-template-columns: 1fr;
    }

    .subtitulo {
        text-align: center;
    }
}

@media (max-width: 600px) {
    body {
        gap: 30px;
        margin-top: 20px;
    }

    .header {
        gap: 30px;
    }

    .conteudo {
        grid-template-columns: 1fr;
    }

    .introducao {
        text-align: left;
        justify-items: start;
    }

    .introducao::before {
        display: none;
    }

    .subtitulo {
        font-size: 3rem;
    }
}

@media (max-width: 400px) {
    .subtitulo {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}